body{
    font-family: 'Roboto', sans-serif;
}

.btn-h1-spacing{
    margin-top:22px;
}

.form-check-label{
    font-weight: normal;
}

.inline-form{
    display:inline-block;
}

.footer {
    display:none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222;
    color: #9d9d9d;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer p{
    margin-bottom: 0px;
}

#logoutBtn{
    padding: 3px 20px;
    color:#333;
}

